<div class="center-items" id="div-display" style="padding-left: 10%">
  <h1 style="font-size: 320%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">My bands: </h1>
  <div class="post1" id="element">
    <img src="../../assets/mental.jpg">
    <div class="post2">
      <h2>Mental Disorder</h2>
      <p>
        Thrash metal/Crossover band from Brasov, Romania.
      </p>
    </div>
  </div>
  <div class="post1" id="element">
    <img src="../../assets/Initiator.jpg">
    <div class="post2">
      <h2>Initiator</h2>
      <p>
        Thrash metal/Crossover solo project.
      </p>
    </div>
  </div>
  <div class="post1" id="element">
    <img src="../../assets/Rk.jpg">
    <div class="post2">
      <h2>Rabid Killer</h2>
      <p>
        Death metal/Hardcore solo project.
      </p>
    </div>
  </div>
</div>