<div class="center">
  <a href="https://www.facebook.com/profile.php?id=100019523378288">
    <img src="./../../assets/facebooklogo.png" class="sizeable">
  </a>
  <a href="https://www.youtube.com/channel/UCivrsl4b0jlsEfFyFrBOFJw">
    <img src="./../../assets/youtubelogo.png" class="sizeable">
  </a>
  <a href="https://soundcloud.com/user-945293607">
    <img src="./../../assets/soundcloudlogo.png" class="sizeable">
  </a>
  <a href="https://github.com/robertdotnet">
    <img src="./../../assets/githublogo.png" class="sizeablegit">
  </a>
  </div>