<header class="clearfix">
  <div class="container">
    <div class="header-left">
      <a routerLink="/home">
        <img src="../../assets/Logo.png">
      </a>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open">
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/music">Music</a>
        <a routerLink="/about">About</a>
      </nav>
    </div>
  </div>
</header>